---
title: "Fire Extinguishers"
image: "firestinguishers"
---

<%= partial(:'partials/parallax', :locals => { :title => current_page.data.title, :imagebackground => current_page.data.image }) %>
<%= partial "partials/sect-protection" %>

  <section class="explanation" id="explanation">
    <div class="title">
        <h3 class="uppercase"><%= current_page.data.title %></h3>
    </div>

    <div class="content">
      <h3 class="primary-text">The following types of portable fire extinguishers are serviced and maintained by CFAA certified Torbram specialist.</h3>
      <ul>
        <li>Wet Chemical</li>
        <li>Dry Chemical</li>
        <li>Pressurized Water</li> 
        <li>Carbon Dioxide</li>  
        <li>Cartridge Operated</li>     
      </ul>
    </div>
  </section>
