
.social-icon {
  position: fixed;
  right: 20px;
  top: 40%;
  z-index: 100;
  ul{
    li{
      img{
        width: 100%;
        max-width: 25px;
        padding-top: 1em;
        @media(max-width: $mobile-screen - 1) {
          display: none;
        }

      }
    }
  }
}
.deco-object {
  position: relative;
  img {
    position: absolute;
    right: 10%;
    top: -100px;
    max-width: 210px;
    @include media($horizontal-bar-mode) {
      top: -150px;
      max-width: 305px;
    }
    @media(max-width: $mobile-screen - 1) {
      top: -66px;
      max-width: 150px;
    }
  }
}

.deco-object-2 {
  position: relative;
  img {
    position: absolute;
    left: 10%;
    top: 90px;
    max-width: 200px;
    @include media($horizontal-bar-mode) {
      top: 110px;
      max-width: 270px;
    }
    @media(max-width: $mobile-screen - 1) {
      display: none;
    }
  }
}

.deco-object-3 {
  position: relative;
  img {
    position: absolute;
    right: 0;
    top: 450px;
    max-width: 260px;
    @include media($horizontal-bar-mode) {
      top: 650px;
      max-width: 375px;
    }
    @media(max-width: $mobile-screen - 1) {
      display: none;
    }
  }
}

.deco-object-4 {
  position: relative;
  img {
    position: absolute;
    left: 0;
    max-width: 267px;
    bottom: -15px;
    @include media($horizontal-bar-mode) {
      bottom: -15px;
      max-width: 400px;
    }
    @media(max-width: $mobile-screen - 1) {
      display: none;
    }
  }
}


.deco-object-5 {
  position: relative;
  img {
    position: absolute;
    right: 13%;
    top: -80px;
    max-width: 180px;
    @include media($horizontal-bar-mode) {
      top: -260px;
      max-width: 375px;
    }
    @media(max-width: $mobile-screen - 1) {
      display: none;
    }
  }
}



.protection-section {
  position: relative;
  top: 0;

  h2 {
    position: relative;
    font-size: 70px;
    text-align: right;
    margin-top: 1.6em;
    font-weight: 100;
    margin-right: 9%;
    line-height: 94px;
    @include media($horizontal-bar-mode) {
      font-size: 100px;
      line-height: 124px;
    }
    @media(max-width: $mobile-screen - 1) {
      font-size: 40px;
      line-height: 64px;
      text-align: left;
      margin-top: 2em;
      margin-left: 0.5em;
    }
  }

  .legend {
    width: 100%;
    margin-top: 1em;
    @media(max-width: $mobile-screen - 1) {
     margin-top: 0em;
    }

    .text {
      width: 30%;
      margin-left: 25%;
      vertical-align: top;
      margin-right: 3%;
      display: inline-block;
      @media(max-width: $mobile-screen - 1) {
       width: 100%;
       margin-left: 0em;
       margin-top: 0em;
       margin-right: 0%;
      }

          h2 {
            font-size: 55px;
            line-height: 73px;
            text-align: left;
            margin-top: 1.85em;

            @include media($horizontal-bar-mode) {
              font-size: 75px;
              line-height: 93px;
            }
            @media(max-width: $mobile-screen - 1) {
             font-size: 45px;
             margin-top: 0em;
            }
          }
    }

    .img-sec {
      width: 41.50%;
      vertical-align: top;
      position: relative;
      right: 0;
      display: inline-block;
      margin-top: 8em;
      @include media($horizontal-bar-mode) {
        margin-top: 5.5em;
      }
      @media(max-width: $mobile-screen - 1) {
         width: 100%;
         margin-top: 2em;
      }
    }


    div.p-text {
      width: 80%;
      padding: 1rem 0;
      @include media($horizontal-bar-mode) {
        width: 80%;
      }
      @media(max-width: $mobile-screen - 1) {
       width: 90%;
       padding: 1rem;
      }

      p {
        font-size: 18px;

        @include media($horizontal-bar-mode) {
          font-size: 25px;
        }
        @media(max-width: $mobile-screen - 1) {
         font-size: 18px;
        }
      }
    }

  }

  .row {
    @include row();
  }
}

.our-services {
  @include row();
  width: 100%;
  padding: 0.5em 6em;
  text-align: left;
  @media(max-width: $mobile-screen - 1) {
   padding: 1em;
   text-align: center;
  }

  h2 {
    font-size: 45px;
    font-weight: 100;
    @include media($horizontal-bar-mode) {
      font-size: 75px;
    }
    @media(max-width: $mobile-screen - 1) {
     font-size: 40px;
    }
  }

  .row-container {
    position: relative;
    //top: -130px;
    top: 0px;
    width: 100%;
    @media(max-width: $mobile-screen - 1) {
     top: 0px;
    }
    .text {
      position: absolute;
      top: -130px;
      width: 30%;
      display: inline-block;
      vertical-align: bottom;
      text-align: left;
      @include media($horizontal-bar-mode) {
        top: -240px;
      }
      @media(max-width: $mobile-screen - 1) {
       width: 100%;
       position: relative;
       top: 0;
      }

      h1 {
        font-size: 90px;
        line-height: 120px;
        font-weight: 100;
        @include media($horizontal-bar-mode) {
          font-size: 150px;
          line-height: 200px;
        }
      }
      h3{
        font-size: 40px;
        line-height: 53px;
        font-weight: 100;
        @include media($horizontal-bar-mode) {
          font-size: 50px;
          line-height: 67px;
        }
      }
      p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 100;
        @include media($horizontal-bar-mode) {
          font-size: 25px;
          line-height: 33px;
        }
      }
    }
  }


  .main-container, .main-container2, .main-container3 {
    position: relative;
    width: 100%;

    .img-sec {
      width: 32%;
      margin-left: 30%;
      margin-right: 6%;
      display: inline-block;
      vertical-align: bottom;
      @media(max-width: $mobile-screen - 1) {
       width: 100%;
       margin-left: 0em;
      }
    }
    .text {
      width: 30%;
      display: inline-block;
      vertical-align: bottom;
      text-align: right;
      @media(max-width: $mobile-screen - 1) {
       width: 100%;
      }

      h1 {
        font-size: 90px;
        font-weight: 100;
        line-height: 120px;
        @include media($horizontal-bar-mode) {
          font-size: 150px;
          line-height: 200px;
        }
      }
      h3{
        font-size: 40px;
        font-weight: 100;
        line-height: 53px;
        @include media($horizontal-bar-mode) {
          font-size: 50px;
          line-height: 67px;
        }
      }
      p {
        font-size: 18px;
        font-weight: 100;
        line-height: 24px;
        margin-bottom: 1em;
        @include media($horizontal-bar-mode) {
          font-size: 25px;
          line-height: 33px;
        }
      }
    }
  }

  .main-container2 {

    .img-sec {
      margin-left: 20%;
      margin-top: 8em;
      @media(max-width: $mobile-screen - 1) {
       width: 100%;
       margin-left: 0em;
       margin-top: 2em;
      }
    }

    .text {
      text-align: left;
    }
  }

  .main-container3 {

    .img-sec {
      margin-left: 0;
      width: 17%;
      @media(max-width: $mobile-screen - 1) {
       display: none;
      }
    }

    .text {
      text-align: right;
    }
  }
}

.explanation, .footer{
  width: 100%;
  padding: 5em 2em 7em;
  background-color: $light-gray;
  @include media($horizontal-bar-mode) {
    padding: 7em 2em 9em;
  }
  @media(max-width: $mobile-screen - 1) {
   padding: 4em 0.5em;
  }

  .title {
    margin-right: 3%;
    text-align: right;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    @media(max-width: $mobile-screen - 1) {
     width: 100%;
     text-align: left;
     margin-right: 0;
    }

    h3 {
      font-size: 55px;
      line-height: 73x;
      font-weight: 100;
      @media(max-width: $mobile-screen - 1) {
       font-size: 40px;
       line-height: 63px;
      }
      @include media($horizontal-bar-mode) {
        font-size: 75px;
        line-height: 93px;
      }
    }
  }

  .content {
    width: 60%;
    font-size: 25px;
    line-height: 33px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;

    @media(max-width: $mobile-screen - 1) {
     width: 100%;
     margin-top: 2em;
    }

    p {
      font-size: 18px;
      line-height: 23px;
      @media(max-width: $mobile-screen - 1) {
       font-size: 18px;
       line-height: 23px;
      }

      @include media($horizontal-bar-mode) {
        font-size: 25px;
        line-height: 33px;
      }
    }

    ul {
      list-style-type: disc;
      margin: 1em;
      padding: 0em;
      li {
        font-size: 18px;
        line-height: 23px;
        @media(max-width: $mobile-screen - 1) {
          font-size: 18px;
          line-height: 23px;
        }

        @include media($horizontal-bar-mode) {
          font-size: 18px;
          line-height: 23px;
        }
      }
    }

  }
}

.footer {
  background-color: #3a3a3a;
  padding: 5em 2em 4em;

  img {
    max-width: 184px;
    margin-left: 4%;
    @media(max-width: $mobile-screen - 1) {
     margin: auto;
    }
  }
  pre {
    font-size: 18px;
    line-height: 23px;
    @media(max-width: $mobile-screen - 1) {
     font-size: 18px;
     line-height: 23px;
    }

    @include media($horizontal-bar-mode) {
      font-size: 25px;
      line-height: 33px;
    }
  }
}

.maps-section {
  width: 100%;
  display: block;
  #map {
    height: 500px;
    width: 100%;

    @include media($horizontal-bar-mode) {
      height: 700px;
    }

   }
}
