.container {
  width: 100%;
  padding: 3em 2em;
}

.uppercase {
  text-transform: uppercase;
}

.maps-section {
  width: 100%;
  display: block;
  #map {
    height: 500px;
    width: 100%;

    @include media($horizontal-bar-mode) {
      height: 700px;
    }

   }
}
