.protection-section {
  position: relative;
  top: 0;

  h2 {
    position: relative;
    font-size: getvw(45px);
    line-height: getvw(65px);
    text-align: right;
    margin-top: getvw(100px);
    font-weight: 100;
    margin-right: getvw(123px);
    @include media($horizontal-bar-mode) {
      font-size: getvw(100px,1920);
      line-height: getvw(124px, 1920);
    }
    @include media( $mobile) {
      font-size: getvw(150px);
      line-height: getvw(174px);
      text-align: left;
      margin-top: getvw(100px);
      margin-left: getvw(20px);
    }
  }

  .legend {
    width: 100%;
    margin-top: getvw(0px);
    @include media($horizontal-bar-mode) {
      margin-top: getvw(50px,1920);
    }
    @include media( $mobile) {
     margin-top: 0;
    }

    .text {
      width: 30%;
      margin-left: getvw(306px);
      vertical-align: top;
      margin-right: 3.60%;
      margin-bottom: getvh(50px);
      display: inline-block;
      @include media( $mobile) {
       width: 100%;
       margin-left: 0em;
       margin-top: 0em;
       margin-right: 0%;
      }

          h2 {
            font-size: getvw(35px);
            line-height: getvw(53px);
            text-align: left;
            margin-top: getvw(20px);

            @include media($horizontal-bar-mode) {
              font-size: getvw(70px,1920);
              line-height: getvw(93px,1920);
            }
            @include media( $mobile) {
             font-size: getvw(100px);
             line-height: getvw(123px);
             margin-top: getvh(50px);
            }
          }
    }

    .img-sec {
      width: 42.50%;
      vertical-align: top;
      position: absolute;
      right: 0;
      display: inline-block;
      margin-top: getvw(0px);
      @include media($horizontal-bar-mode) {
        margin-top: getvw(60px,1920);
      }
      @include media( $mobile) {
         width: 100%;
         margin-top: getvw(100px);
      }
    }


    div.p-text {
      width: 80%;
      padding: getvw(15px) 0;
      @include media($horizontal-bar-mode) {
        width: 80%;
      }
      @include media( $mobile) {
       width: 90%;
       padding: getvw(15px);
      }

      p {
        font-size: getvw(18px);

        @include media($horizontal-bar-mode) {
          font-size: getvw(25px,1920);
        }
        @include media( $mobile) {
         font-size: getvw(50px);
        }
      }
    }

  }

  .row {
    @include row();
  }
}
