// Based on http://codepen.io/skeurentjes/

.banner {
  color: white;
  background: image-url('banner.png') top left/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;

  @include media($horizontal-bar-mode) {
    height: 100vh;
  }
  @include media( $mobile) {
    height: getvh(650px);
      background: image-url('banner.jpg') top center/cover no-repeat;
  }
}

.parallax-label {
  //width: 50%;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: getvw(4px);
  position: relative;
  margin-left: getvw(70px);
  margin-top: getvw(180px);
  @include media($horizontal-bar-mode) {
    margin-left: getvw(70px,1920);
    margin-top: getvw(229px,1920);
  }
  @include media( $mobile) {
    margin-left: getvw(70px);
    margin-top: getvw(229px);
  }
  //margin: 0;
  //text-shadow: 2px 2px 6px $black;
  .main-text {
    width: 100%;
    color: $base-font-color;
    font-size: getvw(100px);
    line-height: getvw(130px);
    font-weight: 500;
    text-align: left;
    @include media($horizontal-bar-mode) {
      font-size: getvw(150px,1920);
      line-height: getvw(200px,1920);
      font-weight: 500;
    }
    @include media( $mobile) {
      font-size: getvw(150px);
      line-height: getvw(180px);
    }
  }
  .white-label, .white-label-mini{
    background-color: #ffffff;
    padding: getvw(10px) getvw(50px) getvw(10px) getvw(30px);
    @include media($horizontal-bar-mode) {
      padding: getvw(10px) getvw(50px) getvw(10px) getvw(30px);
    }
    @include media( $mobile) {
      padding: getvw(10px) getvw(50px) getvw(10px) getvw(30px);
    }
  }

  .white-label-mini {
    padding: getvw(10px) getvw(50px) getvw(10px) getvw(30px);
    @include media($horizontal-bar-mode) {
      padding: getvw(10px) getvw(50px) getvw(10px) getvw(30px);
    }
    @include media( $mobile) {
      padding: getvw(10px) getvw(50px) getvw(10px) getvw(30px);
    }
  }
  .second-text {
    width: 100%;
    color: $base-font-color;
    font-size: getvw(32px);
    text-align: left;
    margin-top: getvw(50px);
    line-height: getvw(42px);
    font-weight: 500;
    @include media($horizontal-bar-mode) {
      font-size: getvw(42px);
      margin-top: getvw(50px);
    }
    @include media( $mobile) {
      margin-top: getvw(50px);
      font-size: getvw(42px);
    }
  }
}
