<footer class="footer" id="contact">
  <div class="title">
      <h3 class="secondary-text">CONTACT US</h3>
  </div>

  <div class="content">
      <pre class="white-text">
        <strong>CONTACT ADDRESS</strong>
        <a href="https://www.google.com.ar/maps/place/180+Sandalwood+Pkwy+E+%23323,+Brampton,+ON+L6Z+1Y4,+Canada/@43.7279249,-79.7971321,18z/data=!4m5!3m4!1s0x882b168e3602fa17:0xdfa099360c5b47d8!8m2!3d43.7282195!4d-79.7963221?hl=en">6B – 180 Sandalwood Parkway East, Suite 323
        Brampton, Ontario, Canada
        L6Z 1Y4 </a>

        <strong>CALL US TODAY!</strong>
        <a href="tel:6473823473"></a>647 382 3473 (FIRE)

        <strong>EMAIL</strong>
        <a href="mailto:info@torbram.com?Subject=Website%20Contact">info@torbram.com</a>

      </pre>

  </div>
  <%= image_tag('logo-footer.svg')%>
</fotter>
