<footer class="footer" id="contact">
  <div class="title">
      <h3 class="secondary-text">CONTACT US</h3>
  </div>

  <div class="content">
      <pre class="white-text">
        <strong>CONTACT ADDRESS</strong>
        6B – 180 Sandalwood Parkway East, Suite 323
        Brampton, Ontario, Canada
        L6Z 1Y4

        <strong>CALL US TODAY!</strong>
        647 382 3473 (FIRE)

        <strong>EMAIL</strong>
        info@torbram.com

      </pre>

  </div>
  <%= image_tag('logo-footer.svg')%>
</fotter>
