<div class="deco-object-3">
  <%= image_tag('deco-object-3.png')%>
</div>

<section class="our-services" id="services">
    <h2><span class="primary-text">OUR</span> SERVICES</h2>

    <div class="main-container0">
      <div class="img-sec">
        <%= image_tag('fire_sprinkler.jpg', :class => 'img')%>
      </div>
      <div class="text">
          <a href="/services/firesprinklers.html">
            <h1>1</h1>
            <h3>FIRE SPRINKLER</h3>
          </a>
          <p>We specialize in Fire sprinklers such as Wet pipe, Dry pipe, Pre-action, and deluge systems.</p>
      </div>
    </div>

    <div class="main-container1">
      <div class="text">
        <a href="/services/firestinguishers.html">
          <h1>2</h1>
          <h3>SUPPRESSION</h3>
        </a>
          <p>We offer various types of suppression systems such as foam, low and high pressure CO2 etc. </p>
      </div>
    </div>



    <div class="main-container2">
      <div class="img-sec">
        <%= image_tag('pullstation.jpg', :class => 'img')%>
      </div>
      <div class="text">
        <a href="/services/firealarms.html">
          <h1>3</h1>
          <h3>FIRE ALARM</h3>
        </a>
          <p>Fire alarm systems, detection, mass notification, We focus on fast response and onsite visit upon fire system notification. </p>
      </div>
    </div>

    <div class="main-container3">
      <div class="img-sec">
      </div>
      <div class="text">
          <h1>4</h1>
          <h3>INSPECTIONS</h3>
          <p>We offer custom onsite inspections focusing on your needs to ensure all the systems are functioning as it should.</p>
      </div>
    </div>

</section>

<div class="deco-object-4">
  <%= image_tag('decorative.png')%>
</div>
