<div class="deco-object-3">
  <%= image_tag('deco-object-3.png')%>
</div>

<section class="our-services">
    <h2><span class="primary-text">OUR</span> SERVICES</h2>

    <div class="main-container">
      <div class="img-sec">
        <%= image_tag('fire_sprinkler.jpg', :class => 'img')%>
      </div>
      <div class="text">
          <h1>1</h1>
          <h3>FIRE SPRINKLER</h3>
          <p>All types of fire protection systems such as wet, dry, pre-action, deluge, antifreeze and fire pumps.</p>
      </div>
    </div>

    <div class="row-container">
      <div class="text">
          <h1>2</h1>
          <h3>SUPPRESSION</h3>
          <p>All types of fire suppression systems such as foam, low and high pressure CO2 and other types of clean agents.</p>
      </div>
    </div>



    <div class="main-container2">
      <div class="img-sec">
        <%= image_tag('pullstation.jpg', :class => 'img')%>
      </div>
      <div class="text">
          <h1>3</h1>
          <h3>FIRE ALARM</h3>
          <p>Fire alarm systems, detection, mass notification, CCTV, security, card access systems and monitoring.</p>
      </div>
    </div>

    <div class="main-container3">
      <div class="img-sec">
      </div>
      <div class="text">
          <h1>4</h1>
          <h3>INSPECTIONS</h3>
          <p>Wet & Dry Systems, Special Hazards, Fire Pumps, Fire Hydrants, Back Flow Devices, Fire Alarm Systems.</p>
      </div>
    </div>

</section>

<div class="deco-object-4">
  <%= image_tag('decorative.png')%>
</div>
