<section class="protection-section row">
  <div class="deco-object">
    <%= image_tag('deco-object-1.png')%>
  </div>

  <div class="deco-object-2">
    <%= image_tag('deco-object-2.png')%>
  </div>

  <h2>YOUR <span class="primary-text">PROTECTION</span> IS <br> OUR PRIORITY</h2>

  <div class="legend">
    <div class="text">
      <h2>WE ARE <br>
        <span class="secondary-text">FIRE KILLERS</span></h2>
        <div class="p-text">
          <p>TORBRAM. has been serving clients in the GTA since 2001 and specializes in all aspects of fire protection, fire suppression and emergency lighting system services. We are committed to providing our clients with the best in class customer service, technical expertise and product quality. Our inspection and installation services demonstrate our commitment to excellence and reinforce our value of providing outstanding customer service and satisfaction.</p>
        </div>
    </div>
    <div class="img-sec">
      <%= image_tag('pic1.jpg', :class => 'img')%>
    </div>
  </div>

</section>
