<div class="deco-object" id="about">
  <%= image_tag('deco-object-1.png')%>
</div>

<section class="protection-section row">

  <div class="deco-object-2">
    <%= image_tag('deco-object-2.png')%>
  </div>

  <h2 >YOUR <span class="primary-text">PROTECTION</span> IS<br>OUR PRIORITY</h2>

  <div class="legend">
    <div class="text">
      <h2>WE ARE <br>
        <span class="secondary-text">FIRE KILLERS</span></h2>
        <div class="p-text">
          <p><strong>Torbram Fire Protection Inc</strong> protecting people and property since 2014.
            Collectively we have over 100 years of experience and fleet of technicians who are certified and
            maintain membership with the CFAA (Canadian Fire Alarm Association).
            We do not take shortcuts when it comes to safety. </p>
        </div>
    </div>
    <div class="img-sec">
      <%= image_tag('pic1.jpg', :class => 'img')%>
    </div>
  </div>

</section>
