<section class="explanation">
  <div class="title">
      <h3>FIRE ALARM <br>
          <span class="primary-text">SYSTEM</span></h3>
  </div>

  <div class="content">
      <p>
        Fire detection and alarm systems are designed to detect and warn of fires early in their development giving time for the safe evacuation of occupants. Arthur Fire Protection Inc. offers a variety of system options designed, quoted, installed, tested, certified and maintained by our outstanding staff including:
          <ul>
            <li>Fully addressable fire alarm systems</li>
            <li>Visual smoke detection systems</li>
            <li>Network systems for large applications</li>
          </ul>
          We act as a one stop shop and not only design and install the fire alarm systems that fit your need but also provide maintenance, monitoring, and repair services through the lifetime of the system.
      </p>
  </div>
</section>
