<section class="explanation" id="explanation">
  <div class="title">
      <h3>WHY<br>CHOOSE
          <span class="primary-text">US</span></h3>
  </div>

  <div class="content">
          <ul>
            <li>We focus on your custom need </li>
            <li>We believe in long term satisfactory customer client relationships</li>
            <li>We are passionate about our services</li>
          </ul>
  </div>
</section>
