
<div class="banner row" id="home">
  <div class="banner-text">
    <div class="parallax-label">
      <div class="main-text"  id="typejs">
        <span class="white-label">WE <span class="secondary-text"> KILL </span> THE</span> <br>
        <span class="white-label primary-text">
          FIRE
        </span>
      </div>
      <div class="second-text">
        <span class="white-label-mini"><span class="primary-text">THE FIRE </span>PROTECTION <span class="secondary-text">PROFESSIONALS</span></span>
      </div>
    </div>
  </div>
</div>
